* {
  box-sizing: border-box;
}
.arena {
  height: 100vh;
  width: 100vw;
}

.paintWindow {
  height: 360px;
  width: 450px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}
.paintCanvas {
  background-color: white;
}
.paintToolbar,
.paintToolBox {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 35px;
  width: inherit;
  background-color: steelblue;
}
.paintToolBox > * {
  margin: 0 15px 0 15px;
}
#color {
  border: none;
}
.paintButton {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
}
#clear {
  color: red;
  font-weight: bold;
}
button:active {
  transform: scale(0.98);
}
